<br  />

<div class="image">
  <div class="jumbotron">
    <div >
      <h1 style="padding-left: 20px;"><span>Pegasus</span></h1>
    </div>
    <div class="horse">
      <img src="http://www.freeiconspng.com/uploads/horse-png-5.png" style="max-width: 100%; height: 400px; padding-left: 50px;" />
    </div>
    <br />
    <p class="phrase" style="padding-left: 20px;">
      Find your dream horse!
      <br />
      Search for yourself or your students!
    </p>
    <div class="points" style="margin-right: 30px;">
      <div class="row">
        <h2>Sell you horse!</h2>
        <p>Create a personal account to sell the occasional horse or create a business account to sell more!</p>
      </div>
      <div class="row">
        <h2>Matches horses and riders!</h2>
        <p>Fill out a simple questionnaire and our algorithm will suggest horses for you and riders for your horse</p>
      </div>
      <!-- <div class="row">
        <h2>Makes you a better person!</h2>
        <p>Learn everything you could ever know, even fictional stuff!</p>
      </div> -->
    </div>
  </div>
</div>
